<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tag() %>
    <title>Phoenix LiveView Collection</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>">
  </head>
  <body class="has-navbar-fixed-top">
    <section class="section">
      <%= @inner_content %>
    </section>

    <footer class="footer has-padding-0">
      <div class="content has-text-centered">
        <p>
          <strong>Phoenix LiveView Collection</strong> by <a href="https://twitter.com/leandrocesquini">Leandro Cesquini Pereira</a>.
        </p>
        <p>
          The source code is licensed under <a href="https://github.com/leandrocp/phoenix-liveview-collection/blob/master/LICENSE">MIT</a>
          and contributions are very welcome!
        </p>
        <p>
          Checkout <a href="https://anunknown.dev/articles/liveview-examples">LiveView examples</a> for another list,
          and also this <a href="https://elixirforum.com/t/liveview-demos-examples-and-sample-apps-thread/21073">ElixirForum post</a>.
        </p>
        <p>
          Built with <a href="https://phoenixframework.org">Phoenix Framework</a> and <a href="https://github.com/phoenixframework/phoenix_live_view">Phoenix LiveView</a>.
        </p>
        <p>
          <a href="https://github.com/leandrocp/phoenix-liveview-collection">
            <img height="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg"/>
          </a>
        </p>
      </div>
    </footer>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>" charset="utf-8"></script>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
